
.list-group-flush .list-group-item {
  border-right: 0;
  border-left: 0;
}

.list-group-item {
  word-wrap: break-word;
}
.kind-item dt {
  font-size: 125%;
}
.kind-item dd {
  margin-left: 2.5em;
  text-align: justify;
}
.kind-list { list-style: none;}

.module-name {
  word-break: break-all;
}
.module-summary {
  font-size: 125%;
}

ul.parameters, ul.returns {
  margin-bottom: 0.75em;
}
ul.parameters > li, ul.returns > li {
  margin-bottom: 0.33em;
}
a.type {
  color: initial;
}
a.type:before {
  display: inline-block;
  font: normal normal normal 24px/1 "Material Design Icons";
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
  content: "\F339";
  margin-right: 0.25em;
}

.collapse-arrow i.material-icons {
  transition: transform 0.35s ease;
}
.collapse-arrow.collapsed i.material-icons {
  transform: rotateZ(180deg);
}

.card.bg-primary a, .card.bg-info a {
  color: #fff;
}

.item-name {
  font-family: monospace;
  font-size: 115%;
}
.item-args {
  font-style: italic;
  font-size: 90%;
}

/* styles for prettification of source */
.keyword {font-weight: bold; color: #b58900; }
.number  { color: #268bd2; }
.string  { color: #268bd2; }
.comment { color: #93a1a1; }
.prepro { color: #2aa198; }
.global { color: #dc322f; }

